{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'register.css' %}">
  
</head>
<body>

  <div class="container-fluid">
    <div class="row justify-content-center align-items-center" style="height: 100vh;">
      <div class="col-md-10">
        <div class="col-md-1"></div>
        <div class="logo-login-container">
          <div class="row">
            <div class="col-md-6 logo-container">
              <div class="logo">
                <img src="https://www.ppu.edu/p/sites/all/themes/ppu2018/logo.png" alt="University Logo" class="logo_img">
              </div>
            </div>
            <div class="col-md-6">
              <div class="login-form">
                <h3 class="login-title">Welcome Back To PPU ECLASS</h3>
                <h6>Enter the field below to get started</h6>
                  <div class="form-group">
                    <label class="Fname" for="Fname">First Name</label>
                    <input type="text" class="form-control" id="Fname" name="Fname" >
                  </div>
                  <div class="form-group">
                    <label class="Lname" for="Lname">Last Name</label>
                    <input type="text" class="form-control" id="Lname" name="Lname" >
                  </div>
                  <div class="form-group">
                    <label class="UserName" for="UserName">UserName</label>
                    <input type="text" class="form-control" id="UserName" name="UserName" >
                  </div>
                  <div class="form-group">
                    <label class="email-label" for="Email">Email</label>
                    <input type="email" class="form-control" id="Email" name="Email">
                  </div>
                  <div class="form-group">
                    <label class="pass-label" for="Password">Password</label>
                    <input type="password" class="form-control" id="Password" name="Password" >
                  </div>
                  <button class="btn login-btn btn-block" id="register">Register</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-1"></div>

      </div>
    </div>
  </div>
  <script>
    document.getElementById('register').addEventListener('click',()=> {
      const firstName = document.getElementById('Fname').value;
      const lastName = document.getElementById('Lname').value;
      const email = document.getElementById('Email').value;
      const username = document.getElementById('UserName').value;
      const password = document.getElementById('Password').value;
  
      const formData = {
        first_name: firstName,
        last_name: lastName,
        email: email,
        username: username,
        password: password
      };
  
      fetch('api/register', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(formData)
      })
      .then(response => {
        if (response.ok) {
          window.location.href = 'login';
        } else {
          return response.text();
        }
      })
      .then(errorMessage => {
        if (errorMessage)
          alert(errorMessage);
      })
      .catch(error => {
        alert('An error occured.');
      });
  })
  </script>
</body>
</html>
