{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistics</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styleadd.css' %}">
    <link rel="shortcut icon" type="x-icon" href="{% static 'images/admin.png' %}">
    <script src="{% static 'sidebar.js' %}" ></script>
    <script src="{% static 'statistics.js' %}" ></script>

</head>
<body class="bg-body-tertiary">
  <button class="btn btn-outline-primary d-md-none m-5" id="toggleSidebar">Toggle Sidebar</button>

  <div class="sidebar" id="sidebar">
      <div>
          <img src="{% static 'images/ppu.png' %}" alt="" width="100" height="100" class="rounded-circle me-3 sidebar-image"><br>
<br>

<a href="" class="d-flex align-items-center mb-3 sidebar-header text-decoration-none">
  <svg class="bi pe-none me-2 " width="40" height="32"></svg>
  <div class="fs-4 sidebar-txt">Hello <span id="short-name">User</span></div>
</a>
          <hr class="hr">
          <ul class="nav nav-pills flex-column mb-auto">
              <li class="nav-item">
                  <a href="/" class="nav-link " aria-current="page">
                      <button class="side-button">
                          <span><img src="{% static 'images/create-course.png' %}" class="side-logo" /></span>
                          <span class="side-text">Create a Course</span>
                      </button>  
                  </a> 

                  <a href="statistics" class="nav-link " aria-current="page">
                      <button class="side-button">
                          <span><img src="{% static 'images/stats.png' %}" class="side-logo" /></span >
                      <span class="side-text">Statistics</span>
                      </button>  
                  </a>
              </li>
      
      </div>

              <li>
                  <a href="" class="nav-link " aria-current="page" id="logout">
                      <button class="side-button">
                          <span><img src="{% static 'images/exit.png' %}" class="side-logo" /></span >
                      <span class="side-text">Sign Out</span>
                      </button>  
                  </a>
              </li>
      </ul>
      <button class="btn btn-outline-secondary mt-3 d-md-none" id="hideSidebar">Hide Sidebar</button>
  </div>

    <main class="main" id="mainContent">
        <div class="container">
            <div class="row g-5">
                <div class="col-12 n-c-r">
                  Courses Statistics
                </div>
                <div class="my-3 p-3 bg-body rounded shadow-sm">
                  <div class="d-flex text-body-secondary pt-3">
                    <p class="pb-3 mb-0 small lh-sm border-bottom">
                      <strong class="d-block text-gray-dark details-statistics">Number of Courses: <span class="details-statistics" id="number-of-courses"></span></strong>
                    </p>
                  </div>
                  <div class="d-flex text-body-secondary pt-3">
                    <p class="pb-3 mb-0 small lh-sm border-bottom">
                      <strong class="d-block text-gray-dark details-statistics">Number of Students: <span class="details-statistics" id="number-of-students"></span></strong>
                    </p>
                  </div>
                  <div class="d-flex text-body-secondary pt-3">
                    <p class="pb-3 mb-0 small lh-sm border-bottom">
                      <strong class="d-block text-gray-dark details-statistics">Number of Enrollments: <span class="details-statistics" id="number-of-enrollments"></span></strong>
                    </p>
                  </div>
                </div>

                <div class="my-3 p-3 bg-body rounded shadow-sm">
                 <div class="row g-3 m-3  ">
                  <div class="col-md-3 ">
                    <div class="row table-header" id="course-code">Code</div>
                  </div>
             
                  <div class="col-md-3 r">
                      <div class="row table-header" id="course-name">Name</div>
                  </div>

                  <div class="col-md-3 ">
                    <div class="row table-header" id="registered">Registered</div>
                  </div>

                  <div class="col-md-3 ">
                    <div class="row table-header" id="capacity">Capacity</div>
                  </div>
                </div>

                 </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
